$lato: 'Lato', sans-serif;
$montserrat : 'Montserrat', sans-serif;
$violetd: #8D81AC;

@mixin FlexElement($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin ForBlocks ($justify) {
    display: flex;
    justify-content: $justify;
}

@media screen and (max-width:768px) and (min-width:426px) {
    .header {
        display: none;
    }
    .main {
        display: none;
    }
    .tabletheader {
        width: 100%;
        height: 118px; 
        background: #27262A;
        &_bl1 {
            @include ForBlocks(center);  
            column-gap: 423px;
            &_logo {
                display: flex;
                width: 160px;
                height: 41px;
                column-gap: 12px;
                margin-top: 22px;
                &_img {
                    width: 43px;
                    height: 41px;        
                }
                &_a {
                    color: #8D81AC;
                    font-size: 24px;
                    font-family: Lato;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 16px;
                    margin-top: 12px;
                    text-transform: uppercase; 
                    text-decoration: none;
                    &:hover {
                        color: #FFF;
                        transition-duration: 0.6s;
                    }
                }
            }
            &_btn {
                border-radius: 40px;
                margin-top: 24px;
                background: #8D81AC;
                color: #FFF;
                text-align: center;
                font-size: 16px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
                width: 145px;
                height: 38px;
                border: none;
                &:hover {
                    border: 2px solid #8D81AC;
                    background: #FFF;
                    color: $violetd;
                    transition-duration: 0.6s;
                }
            }
        }
        &_bl2 {
            @include ForBlocks(center);  
            &_nav {
                width: 517px;
                height: 21px;
                margin-top: 20px;
                &_navitem {
                    &_ul {
                        @include FlexElement(space-between, center);
                        &_li {
                            &_a {
                                color: #8D81AC;
                                font-size: 16px;
                                font-family: Montserrat;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 17px;
                                text-decoration: none;
                                transition-duration: 0.6s;
                                &:hover {
                                    color: #fff;
                                    transition-duration: 0.6s;
                                }
                            }
                        }
                    }
                }
            } 
        }
    }
    .tabletmain {
        &_block1 {
            width: 100%;
            height: 757px;
            &_bl1 {
                width: 100%;
                height: 682px;
                background: url(./img/img\ 2.png);
                background-repeat: no-repeat;
                background-size: cover;
                &_forp {
                    @include ForBlocks(center);  
                    &_p {
                        margin-top: 110px;
                        text-align: center;
                        width: 377px;
                        height: 67px;
                        color: #FFF;
                        font-size: 72px;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 72px;
                    }
                }
                &_forp2 {
                    @include ForBlocks(center); 
                    margin-top: 19px; 
                    &_p {
                        width: 600px;
                        height: 21px;
                        text-align: center;
                        color: #8D81AC;
                        font-size: 24px;
                        font-family: Lato;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
                &_forp3 {
                    @include ForBlocks(center); 
                    margin-top: 19px; 
                    &_p {
                        width: 267px;
                        height: 15px;
                        text-align: center;
                        color: #848E97;
                        font-size: 14px;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 14px;
                        text-transform: uppercase;
                    }
                }
                &_btns {
                    @include ForBlocks(center); 
                    margin-top: 400px;
                    &_btn  {
                        width: 390px;
                        height: 62px;
                        border-radius: 40px;
                        background: #8D81AC;   
                        color: #FFF;
                        text-align: center;
                        font-size: 21px;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 23px;
                        border: none;
                        &:hover {
                            border: 2px solid #8D81AC;
                            background: #FFF;
                            color: $violetd;
                            transition-duration: 0.6s;
                        }
                    }
                }
                &_forp4 {
                    @include ForBlocks(center); 
                    margin-top: 19px; 
                    &_p {
                        color: #848E97;
                        text-align: center;
                        font-size: 14px;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                    }
                }
            }
        }
        &_block2 {
            width: 100%;
            height: 189px;
            &_forp {
                @include ForBlocks(center);
                &_p {
                    color: #635C73;
                    margin-top: 130px;
                    width: 598px;
                    height: 42px;
                    text-align: center;
                    font-size: 42px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 42px;
                    text-transform: uppercase;
                }
            }
            &_forp2 {
                @include ForBlocks(center);
                &_p {
                    width: 689px;
                    height: 65px;
                    margin-top: 20px;
                    color: #323232;
                    text-align: center;
                    font-size: 21px;
                    font-family: Lato;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px; 
                }
            }
            &_forimg {
                @include ForBlocks(center);
                &_img {
                    margin-top: 20px;
                }
            }
        }
        &_block3 {
            width: 100%;
            height: 1125px;
            margin-top: 160px;
            &_forp {
                @include ForBlocks(center);
                &_p {
                    color: #8D81AC;
                    font-family: Montserrat;
                    font-size: 42px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 44px;
                    width: 541px;
                    height: 41px;
                }
            }
            &_block {
                @include ForBlocks(center);
                &_bl {
                    width: 709px;
                    height: 523px;
                    margin-top: 50px;
                    &_b1 {
                        @include ForBlocks(center);
                        width: 100%;
                        height: 68px;
                        column-gap: 50px;
                        &_img {
                            width: 111px;
                            height: 64px;
                        }
                        &_forp {
                            width: 527px;
                            height: 62px;
                            &_p {
                                color: #323232;
                                font-family: Montserrat;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 21px;
                            }
                            &_p2 {
                                margin-top: 2px;
                                color: #848E97;
                                font-family: Montserrat;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 21px;
                                width: 562px;
                            }
                        }
                    }
                    &_b2 {
                        @include ForBlocks(center);
                        width: 100%;
                        height: 90px;
                        column-gap: 72px;
                        margin-top: 57px;
                        &_img {
                            width: 90px;
                            height: 80px;
                        }
                        &_forp {
                            width: 527px;
                            height: 62px;
                            &_p {
                                color: #323232;
                                font-family: Montserrat;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 21px;
                            }
                            &_p2 {
                                color: #848E97;
                                margin-top: 2px;
                                font-family: Montserrat;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 21px;
                                width: 555px;
                                height: 56px;
                            }
                        }
                    }
                    &_b3 {
                        @include ForBlocks(center);
                        width: 100%;
                        height: 90px;
                        column-gap: 100px;
                        margin-top: 57px;
                        &_img {
                            width: 60px;
                            height: 84px;
                        }
                        &_forp {
                            width: 527px;
                            height: 62px;
                            &_p {
                                color: #323232;
                                font-family: Montserrat;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 21px;
                            }
                            &_p2 {
                                color: #848E97;
                                margin-top: 2px;
                                font-family: Montserrat;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 21px;
                                width: 555px;
                                height: 56px;
                            }
                        }
                    }
                    &_b4 {
                        @include ForBlocks(center);
                        width: 100%;
                        height: 90px;
                        column-gap: 90px;
                        margin-top: 57px;
                        &_img {
                            width: 71px;
                            height: 71px;
                        }
                        &_forp {
                            width: 527px;
                            height: 62px;
                            &_p {
                                color: #323232;
                                font-family: Montserrat;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 21px;
                            }
                            &_p2 {
                                color: #848E97;
                                margin-top: 2px;
                                font-family: Montserrat;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 21px;
                                width: 555px;
                                height: 56px;
                            }
                        }
                    }
                }
            }
            &_block2 {
                float: right;
                &_img {
                    width: 700px;
                    height: 519px;
                }
            }
        }
        &_block4 {
            width: 768px;
            height: 882px;
            background: lime;
        }
    }
}