@media screen and (max-width: 768px) and (min-width: 426px) {
  .header {
    display: none;
  }
  .main {
    display: none;
  }
  .tabletheader {
    width: 100%;
    height: 118px;
    background: #27262A;
  }
  .tabletheader_bl1 {
    display: flex;
    justify-content: center;
    -moz-column-gap: 423px;
         column-gap: 423px;
  }
  .tabletheader_bl1_logo {
    display: flex;
    width: 160px;
    height: 41px;
    -moz-column-gap: 12px;
         column-gap: 12px;
    margin-top: 22px;
  }
  .tabletheader_bl1_logo_img {
    width: 43px;
    height: 41px;
  }
  .tabletheader_bl1_logo_a {
    color: #8D81AC;
    font-size: 24px;
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin-top: 12px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .tabletheader_bl1_logo_a:hover {
    color: #FFF;
    transition-duration: 0.6s;
  }
  .tabletheader_bl1_btn {
    border-radius: 40px;
    margin-top: 24px;
    background: #8D81AC;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    width: 145px;
    height: 38px;
    border: none;
  }
  .tabletheader_bl1_btn:hover {
    border: 2px solid #8D81AC;
    background: #FFF;
    color: #8D81AC;
    transition-duration: 0.6s;
  }
  .tabletheader_bl2 {
    display: flex;
    justify-content: center;
  }
  .tabletheader_bl2_nav {
    width: 517px;
    height: 21px;
    margin-top: 20px;
  }
  .tabletheader_bl2_nav_navitem_ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tabletheader_bl2_nav_navitem_ul_li_a {
    color: #8D81AC;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    text-decoration: none;
    transition-duration: 0.6s;
  }
  .tabletheader_bl2_nav_navitem_ul_li_a:hover {
    color: #fff;
    transition-duration: 0.6s;
  }
  .tabletmain_block1 {
    width: 100%;
    height: 757px;
  }
  .tabletmain_block1_bl1 {
    width: 100%;
    height: 682px;
    background: url(./img/img\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tabletmain_block1_bl1_forp {
    display: flex;
    justify-content: center;
  }
  .tabletmain_block1_bl1_forp_p {
    margin-top: 110px;
    text-align: center;
    width: 377px;
    height: 67px;
    color: #FFF;
    font-size: 72px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
  }
  .tabletmain_block1_bl1_forp2 {
    display: flex;
    justify-content: center;
    margin-top: 19px;
  }
  .tabletmain_block1_bl1_forp2_p {
    width: 600px;
    height: 21px;
    text-align: center;
    color: #8D81AC;
    font-size: 24px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .tabletmain_block1_bl1_forp3 {
    display: flex;
    justify-content: center;
    margin-top: 19px;
  }
  .tabletmain_block1_bl1_forp3_p {
    width: 267px;
    height: 15px;
    text-align: center;
    color: #848E97;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
  }
  .tabletmain_block1_bl1_btns {
    display: flex;
    justify-content: center;
    margin-top: 400px;
  }
  .tabletmain_block1_bl1_btns_btn {
    width: 390px;
    height: 62px;
    border-radius: 40px;
    background: #8D81AC;
    color: #FFF;
    text-align: center;
    font-size: 21px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    border: none;
  }
  .tabletmain_block1_bl1_btns_btn:hover {
    border: 2px solid #8D81AC;
    background: #FFF;
    color: #8D81AC;
    transition-duration: 0.6s;
  }
  .tabletmain_block1_bl1_forp4 {
    display: flex;
    justify-content: center;
    margin-top: 19px;
  }
  .tabletmain_block1_bl1_forp4_p {
    color: #848E97;
    text-align: center;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  .tabletmain_block2 {
    width: 100%;
    height: 189px;
  }
  .tabletmain_block2_forp {
    display: flex;
    justify-content: center;
  }
  .tabletmain_block2_forp_p {
    color: #635C73;
    margin-top: 130px;
    width: 598px;
    height: 42px;
    text-align: center;
    font-size: 42px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
  }
  .tabletmain_block2_forp2 {
    display: flex;
    justify-content: center;
  }
  .tabletmain_block2_forp2_p {
    width: 689px;
    height: 65px;
    margin-top: 20px;
    color: #323232;
    text-align: center;
    font-size: 21px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
  .tabletmain_block2_forimg {
    display: flex;
    justify-content: center;
  }
  .tabletmain_block2_forimg_img {
    margin-top: 20px;
  }
  .tabletmain_block3 {
    width: 100%;
    height: 1125px;
    margin-top: 160px;
  }
  .tabletmain_block3_forp {
    display: flex;
    justify-content: center;
  }
  .tabletmain_block3_forp_p {
    color: #8D81AC;
    font-family: Montserrat;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    width: 541px;
    height: 41px;
  }
  .tabletmain_block3_block {
    display: flex;
    justify-content: center;
  }
  .tabletmain_block3_block_bl {
    width: 709px;
    height: 523px;
    margin-top: 50px;
  }
  .tabletmain_block3_block_bl_b1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 68px;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  .tabletmain_block3_block_bl_b1_img {
    width: 111px;
    height: 64px;
  }
  .tabletmain_block3_block_bl_b1_forp {
    width: 527px;
    height: 62px;
  }
  .tabletmain_block3_block_bl_b1_forp_p {
    color: #323232;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }
  .tabletmain_block3_block_bl_b1_forp_p2 {
    margin-top: 2px;
    color: #848E97;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    width: 562px;
  }
  .tabletmain_block3_block_bl_b2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90px;
    -moz-column-gap: 72px;
         column-gap: 72px;
    margin-top: 57px;
  }
  .tabletmain_block3_block_bl_b2_img {
    width: 90px;
    height: 80px;
  }
  .tabletmain_block3_block_bl_b2_forp {
    width: 527px;
    height: 62px;
  }
  .tabletmain_block3_block_bl_b2_forp_p {
    color: #323232;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }
  .tabletmain_block3_block_bl_b2_forp_p2 {
    color: #848E97;
    margin-top: 2px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    width: 555px;
    height: 56px;
  }
  .tabletmain_block3_block_bl_b3 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90px;
    -moz-column-gap: 100px;
         column-gap: 100px;
    margin-top: 57px;
  }
  .tabletmain_block3_block_bl_b3_img {
    width: 60px;
    height: 84px;
  }
  .tabletmain_block3_block_bl_b3_forp {
    width: 527px;
    height: 62px;
  }
  .tabletmain_block3_block_bl_b3_forp_p {
    color: #323232;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }
  .tabletmain_block3_block_bl_b3_forp_p2 {
    color: #848E97;
    margin-top: 2px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    width: 555px;
    height: 56px;
  }
  .tabletmain_block3_block_bl_b4 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90px;
    -moz-column-gap: 90px;
         column-gap: 90px;
    margin-top: 57px;
  }
  .tabletmain_block3_block_bl_b4_img {
    width: 71px;
    height: 71px;
  }
  .tabletmain_block3_block_bl_b4_forp {
    width: 527px;
    height: 62px;
  }
  .tabletmain_block3_block_bl_b4_forp_p {
    color: #323232;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }
  .tabletmain_block3_block_bl_b4_forp_p2 {
    color: #848E97;
    margin-top: 2px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    width: 555px;
    height: 56px;
  }
  .tabletmain_block3_block2 {
    float: right;
  }
  .tabletmain_block3_block2_img {
    width: 700px;
    height: 519px;
  }
  .tabletmain_block4 {
    width: 768px;
    height: 882px;
    background: lime;
  }
}/*# sourceMappingURL=mediatablet.css.map */